*{
	padding: 0;
	margin: 0;
}
body{
	background-color: #eee;
}
.ml_border{
	border-bottom: 1px solid #ccc;
	background-color: #eee;
}
.ml_border img{
	float: left;
	margin-top: 14px;
	margin-left: 12px;
	font-size: 20px;
}
.ml_lunbo{
	margin-top: 46px;
    height: 200px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}
.ml_lunbo .ui-slider{
	padding-top: 200px;
}
.ml_pdtest{
	margin-top: 130px;
}
.ml-bgcolor {
	background-color: #eee;
}
.demo-item .demo-block{
	overflow: hidden;
}
.mj_padding{
	/*padding-top: 65px;*/
}
.demo-item .demo-block .icon-lists li{
	width: 33%;
	float: left;
	text-align: center;
}
.demo-item .demo-block .icon-lists a{
	color: #000;
}
.demo-item .demo-block .icon-lists .code{
	margin-top: 12px;
}
.ml_pho{
	text-align: center;
}
.ml_pho .ml_included{
	display: inline-block;
	width: 70px;
	height: 70px;
	border: 1px solid #ccc;
	border-radius: 50%;
	background-color: #fff;
}
.ml_pho img{
	width: 30px;
	height: 30px;
	padding: 18px;
}
.panel_mg{
	margin-bottom: 50px;
}
.mj_top{
	position: fixed;
	padding: 6px 10px;
	background-color: #fff;
    width: 100%;
    top: 47px;
    line-height: 30px;
    overflow: hidden;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}
.mj_top img{
	float: left;
	width: 20px;
}
.mj_top h2{
	margin-left: 40%;
	font-weight: bold;
}
.mj_top .pre_over h2{
	margin-left: 30%;
	display: inline-block;
	overflow: hidden;
}
.mj_top .pre_over a{
	color: #000;
	font-size: 12px;
	float: right;
	margin-right: 14px;
    margin-top: 22px;
}
.mj_top .pre_over .over_title{
	line-height: 0;
}
.mj_list{
	margin-top: 87px;
	border-top: 1px solid #ccc;
}
/*tip page*/
.mj_list .mj_clear{
	overflow: hidden;
}
.mj_list .mj_clear a{
	color: #000;
	float: right;
	padding: 4px 8px 4px 8px;
	border: 1px solid #ccc;
	border-radius: 8px;
	font-size: 14px;
	margin-top: 24px;
    margin-right: 14px;
}
.mj_list h2{
	font-size: 16px;
	font-weight: bold;
	text-align: center;
}
.mj_list_details{
	width: 92%;
	margin: 0 auto;
	background: url(../image/by_test3.jpg) no-repeat;
	border-top: 1px solid #ccc;
    margin-top: 14px;
}
.mj_list_details .ui-whitespace .mj_text{
	text-align: right;
}
.mj_list_details .mj_every{
	margin-top: 14px;
	margin-bottom: 14px;
}
.wrap_down{
	position: absolute;
	bottom: 0;
	width: 100%;
}
.ui-panel{
	margin-top: 20px;
}
.ui-panel .ui-grid-trisect{
	padding-right: 2px;
}
.ui-panel .ui-grid-trisect li{
	width: 49%;
	margin-bottom: 6px;
}
.ui-panel .ui-grid-trisect .ui-border .pre_list{
	text-align: center;
	border: 1px solid #ccc;
}
.ui-panel .ui-grid-trisect .ui-border .list_mg{
	margin-top: 6px;
}
.bt_title{
	background-color: #eee;
	border-top: 1px solid #ccc;
	height: 40px;
}
.bt_title .bt_footer{
	overflow: hidden;
    width: 150px;
    margin: 0 auto;
    text-align: center;
    line-height: 40px;
}
.bt_title .bt_footer img{
	float: left;
    width: 20px;
    margin-top: 10px;
}
.ui-border-tb{
	margin-top: 110px;
	background-color: #eee;
}
.ui-border-tb .ui-border-t{
	background-color: #fff;
	margin-left: 0px;
	padding-left: 15px;
	margin-bottom: 12px;
}
.ui-border-tb #ui_border{
	
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}
.ui-border-tb #ui_border .ui-list-img{
	width: 160px;
	height: 90px;
}
.ui-border-tb #ui_border .ui-list-info{
	margin-left: 10px;
}
.ui-border-tb #ui_border .ui-list-info .ui-nowrap-b{
    margin-top: 36px;
    overflow: hidden;
}
.ui-border-tb #ui_border .ui-list-info .ui-nowrap-b img{
	float: left;
	margin-top: 6px;
	margin-right: 8px;
}
/*comment页面样式*/
.cm_feel{
	background-color: #fff;
	font-size: 14px;
	border-bottom: 1px solid #ccc;
}
.cm_feel .cm_feel_type{
	overflow: hidden;
}
.cm_feel .cm_feel_type .type_list1{
	float: left;
	margin: 10px 10px;
}
.cm_feel .cm_feel_type .type_list2{
	float: right;
	margin-right: 14px;
	margin-top: 10px;
	border: 1px solid #ccc;
	padding: 0 2px;
}
.cm_feel .cm_feel_pro{
    margin-left: 10px;
    padding-bottom: 18px;
}
.cm_place{
	background-color: #fff;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	margin-top: 14px;
	margin-bottom: 14px;
}
.cm_place .place_title{
	padding: 6px 10px;
	font-size: 14px;
	border-bottom: 1px solid #ccc;
}
.cm_place .place_problem{
	padding: 4px 16px 4px 10px;
}
.cm_place .place_map p{
    padding: 4px 10px;
}
.cm_place .place_map .map_obtain{
	width: 94%;
	height: 180px;
	border: 1px solid #ccc;
	margin-left: 10px;
	margin-bottom: 8px;
	line-height: 180px;
	text-align: center;
}
.cm_view{
	background-color: #fff;
	font-size: 14px;
	border-top: 1px solid #ccc;
	margin-bottom: 40px;
}
.cm_view .view_p{
	padding: 10px;
	border-bottom: 1px solid #ccc;
}
.cm_view .view_y{
	margin-left: 10px;
	margin-right: 10px;
	padding-bottom: 10px;
	padding-top: 10px;
	overflow: hidden;
	line-height: 45px;
	border-bottom: 1px solid #ccc;
}
.cm_view .view_y p{
	margin-left: 68px;
}
.cm_view .view_y .round{
	width: 40px;
	height: 40px;
	float: left;
	border: 1px solid #ccc;
	border-radius: 50%;
}
.bt_title .bt_title_color{
	color: #000;
}
.bt_title .bt_title_color p{
	line-height: 40px;
	text-align: center;
}
/*tocomment.css*/
#text{	
	width: 100%;
	margin:0 auto;
	margin-top: 102px;
    resize:none;
    font-size: 12px;
    color: #666;
    border: 1px solid #ccc;
    border-radius: 6px;
    display: block;
    padding: 10px 4px;
}
#text_a{
    padding:4px 10px;
}
.tm_button{
	font-size: 14px;
	overflow: hidden;
	margin-top: 4px;
}
.tm_button p{
	float: left;
}
.tm_button .ui-checkbox-s{
	margin-left: 4px;
}
.tm_button .ui-checkbox-s input{
	width: 12px;
}
.tm_button .button_rg{
	float: right;
    border: 1px solid #ccc;
    padding: 2px 18px;
    background-color: #fff;
    border-radius: 4px;
}
/*breaknews.css*/
.mj_top .mj_top_center{
	margin-left: 32%;
	display: inline-block;
}
.mj_top .mj_top_right{
    float: right;
    margin-right: 30px;
    color: #fff;
    background-color: #a9a9a9;
    padding: 0px 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
}
.type_t{
	overflow: hidden;
	margin-top: 94px;
	background-color: #a9a9a9;
}
.type_t .type_textarea{
	overflow: hidden;
}
.type_t .type_textarea p{
	float: left;
	margin-left: 10px;
    margin-top: 20px;
}
.type_t .type_textarea .ui-border-t{
	float: right;
	border: 1px solid #ccc;
    border-radius: 8px;
    margin: 10px;
}
.type_t .type_textarea .ui-border-t .ui-select-group{
	margin-left: 0px;
}
.type_t .type_textarea .ui-border-t .ui-select-group select{
	padding-right: 72px;
	font-size: 14px;
	color: #a9a9a9;
}
.type_t .type_textarea .ui-border-t .ui-border-b{
	height: 32px;
	line-height: 32px;
}
.type_t #text1{
	resize:none;
	width: 94%;
    font-size: 14px;
    color: #666;
    border: 1px solid #ccc;
    border-radius: 6px;
    margin-left: 10px;
}
.type_t .type_chec{
	float: right;
	margin-right: 16px;
}
.type_t .type_chec .ui-checkbox-s{
	margin-right: -10px;
}
.type_t .type_img{
    display: inline-block;
    padding: 44px;
    background-color: #fff;
    margin-top: 24px;
    margin-left: 10px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}
.pro_info{
	background-color: #fff;
	font-size: 14px;
	padding: 2px 12px;
}
.pro_iq{
	background-color: #a9a9a9;
	border: 1px solid #ccc;
	padding-top: 10px;
    padding-bottom: 4px;
}
.pro_iq a{
	color: #000;
}
.pro_iq a img{
	width: 20px;
    float: left;
    margin-left: 20px;
}

.pro_iq .pho_img{
	float: left;
    width: 20px;
    height: 20px;
    margin-left: 20px;
}
.pro_iq input{
	margin-left: 10px;
	background-color: #a9a9a9;
	border: none;
	border-bottom: 1px solid #fff;
}
::-webkit-input-placeholder {/*Chrome/Safari*/
    color:#000;
    }
   #text::-webkit-input-placeholder {/*Chrome/Safari*/
    color:#a9a9a9;
    }
    #text1::-webkit-input-placeholder {/*Chrome/Safari*/
    color:#a9a9a9;
    }
.prompt{
	background-color: #fff;
	font-size: 14px;
}
.prompt p{
	padding: 4px 0px;
}
/*service.css*/
.sv_border{
	width: 90%;
	height: 360px;
	background-color: #fff;
	text-align: center;
	line-height: 360px;
	margin-top: 60px;
	margin-left: 20px;
	border: 1px solid #ccc;
}
.sv_list{
	width: 90%;
	margin-left: 20px;
	margin-top: 60px;
	overflow: hidden;
}
.sv_list .ui-col{
    width: 90px;
    height: 90px;
    line-height: 90px;
    text-align: center;
    border-radius: 50%;
}
.sv_list .ui-col div{
	width: 90px;
    height: 90px;
    border: 1px solid #ccc;
    border-radius: 50%;
    background-color: #fff;
    margin: 0 auto;
}
/**/
.an_top{
	margin-top: 60px;
	background-color: #eee;
}
.an_top .an_top_list{
	border-bottom: 1px solid #ccc;
	margin-left: 0px;
	padding-left: 15px;
}
.an_top #an_top_list{
	border-bottom: 1px solid #ccc;
	margin-left: 0px;
	padding-left: 15px;
}
/*location.css*/
.lc_serch{
	margin-top: 46px;
	border: 1px solid #ccc;
	background-color: #fff;
}
.cl_button{
	overflow: hidden;
	font-size: 14px;
}
.cl_button .cl_button1{
	float: left;
	margin: 10px;
}
.cl_button .cl_button2{
	float: right;
	margin: 10px;
}
.cl_input{
	position: relative;
	text-align: center;
	margin-bottom: 8px;
}
.cl_input .sousuo{
	width: 80%;
	height: 30px;
	font-size: 14px;
	border: 1px solid #ccc;
	border-radius: 6px;
	padding-left: 6px;
}
.sousuo::-webkit-input-placeholder {/*Chrome/Safari*/
    color:#a9a9a9;
    }
.cl_input .serch_img{
	background: url(../image/serch.png) center
	center no-repeat;
	position: absolute;
	width: 26px;
	height: 26px;
	top:4px;
	left: 80%;
	z-index: 99;
}
.cl_map{
	width: 100%;
	height: 240px;
	background-color: #fff;
	text-align: center;
	line-height: 240px;
	border: 1px solid #ccc;
}
.cl_list .list_map{
	padding: 20px 0px 10px 0px;
	margin: 0 14px 0 14px;
	border-bottom: 1px solid #ccc;
}
.cl_list .list_map img{
	float: left;
	width: 20px;
	margin-top: 2px;
}