<div class="smart-widget widget-dark-blue margin-md">
	<div class="smart-widget-header">事故信息</div>
	<div class="smart-widget-inner">
	<div class="smart-widget-body" >
		<form name="accidentForm" class="form-horizontal no-margin" id="type-constraint" data-validate="parsley" novalidate>
			<div class="form-group"  ng-class="accidentForm.title.$invalid && accidentForm.title.$dirty ? 'has-error': ''">
				<label class="control-label col-lg-3"><span class="text_red">*</span>&nbsp;标题:</label>
				<div class="col-lg-6">
					<input name="title" ng-model="accident.title" type="text" class="form-control input-sm" placeholder="标题" required>
					<label class="control-label" ng-show="accidentForm.title.$invalid && accidentForm.title.$dirty">标题不能为空</label>
				</div>
			</div>
			<div class="form-group"  ng-class="accidentForm.dateTime.$invalid && accidentForm.dateTime.$dirty ? 'has-error': ''">
				<label class="control-label col-lg-3"><span class="text_red">*</span>&nbsp;标题:</label>
				<div class="col-lg-6">
					<input name="dateTime" ng-model="accident.dateTime" type="text" class="form-control input-sm" placeholder="时间" required>
					<label class="control-label" ng-show="accidentForm.dateTime.$invalid && accidentForm.dateTime.$dirty">时间不能为空</label>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-lg-3">&nbsp;内容链接:</label>
				<div class="col-lg-6">
					<input name="content" ng-model="accident.content" type="text" class="form-control input-sm" placeholder="内容链接">
				</div>
			</div>
			
			<div class="text-right m-top-md">
				<button ng-click="save(accident)" class="btn btn-success btn-sm" ng-disabled="accidentForm.$invalid"><i class="fa fa-save m-right-xs"></i>保存</button>
			</div>
		</form>
	</div>
	</div>
</div>