<div class="smart-widget widget-dark-blue margin-md">
	<div class="smart-widget-header">教师信息</div>
	<div class="smart-widget-inner">
	<div class="smart-widget-body" >
		<form name="informForm" class="form-horizontal no-margin" id="type-constraint" data-validate="parsley" novalidate>
			
			<div class="form-group">
				<label class="control-label col-lg-3"><span class="text_red">*</span>&nbsp;类型:</label>
				<div class="col-lg-6">
					<input name="type" ng-model="inform.type" type="text" class="form-control input-sm" placeholder="类型">
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-lg-3"><span class="text_red">*</span>&nbsp;内容:</label>
				<div class="col-lg-6">
					<textarea class="form-control input-sm" rows="5" cols="30">{{inform.content}}</textarea>
				</div>
			</div>
			
			<div class="form-group">
				<label class="control-label col-lg-3"><span class="text_red">*</span>&nbsp;爆料图片:</label>
				<div class="col-lg-9">
					<span ng-repeat="image in inform.images track by $index">
						<img src="{{image}}" width="400px" height="300" style="padding: 10px;"/>
					</span>
				</div>
			</div>
			
			<div class="form-group">
				<label class="control-label col-lg-3"><span class="text_red">*</span>&nbsp;位置:</label>
				<div class="col-lg-6">
					<input name="location" ng-model="inform.location" type="text" class="form-control input-sm" placeholder="位置">
				</div>
			</div>
			
			<div class="form-group">
				<label class="control-label col-lg-3"><span class="text_red">*</span>&nbsp;联系电话:</label>
				<div class="col-lg-6">
					<input name="phone" ng-model="inform.phone" type="text" class="form-control input-sm" placeholder="联系电话">
				</div>
			</div>
			
			<div class="form-group">
				<label class="control-label col-lg-3"><span class="text_red">*</span>&nbsp;处理状态:</label>
				<div class="col-lg-6">
					<input name="status" ng-model="inform.status" type="text" class="form-control input-sm" placeholder="处理状态">
				</div>
			</div>
			
			<div class="form-group">
				<label class="control-label col-lg-3"><span class="text_red">*</span>&nbsp;处理后图片:</label>
				<div class="col-lg-9">
					<span ng-repeat = "image in inform.images2 track by $index">
						<img src="{{image}}" width="400px" height="300"/>
					</span>
				</div>
			</div>
			
		</form>
	</div>
	</div>
</div>